<div class="show-mobile">
    <div>
        <button>
            <img src="/src/app/components/svg/logo_yard_sale.svg" alt="menu">
        </button>
        <a href=""> </a> <!--regrso de valores de assets svg-->
            <a href="">
                <img src="/src/app/components/svg/bt_added_to_cart.svg" alt="">
            </a>
            <a href="">
                <img src="" alt="">
            </a>
    </div>
</div>
    <div class="hide-mobile">
        <div>
            <nav>
                <a class="logo" href="">
                    <img src="/src/app/components/svg/logo_yard_sale.svg" alt="">
                </a>
                <ul>
                    <li> <a href="">All</a></li>
                    <li> <a href="">Clothes</a></li>
                    <li> <a href="">Electronics</a></li>
                </ul>

            </nav>
    <div class="info">
        <div class="account">hector.seller@gmail.com</div>

        <div>
            <a href="/src/app/components/svg/icon_shopping_cart.svg"></a>
            <img src="" alt="">
        </div>

    </div>
     </div>
   
 </div>

